@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  background-image: linear-gradient(to bottom right, #F3E9D2, #e0f7fa, #e0e7ff);
  color: #03254E;
  min-height: 100vh;
}